
<div class="mytopview" style="background-color: #002699">
  <h2 style="color:white">{{title}}</h2>
</div>

<mat-toolbar style=" border-bottom: 2px dotted blue;">
    <a id="home" href="#/home"><i class="material-icons header-icon">Dashboard</i></a>
  <span class="header-spacer"></span>
  <a href="https://freight.page.link/demo"><i class="material-icons header-icon">Register</i></a>
  <a href="#/log"><i class="material-icons header-icon">Status</i></a>
</mat-toolbar>
